<lib name='syntaxhighlighter:php' />
<div class='page'>
	<msgqueue for="$theController->messageQueue()" />
	<h1>
		<span class='title'></span>{=$sName}
	</h1>
	<label>版本: </label> <select class='version' idx='apiIndex'>
		<model:foreach>
			<option
				value="{='?c=org.opencomb.doccenter.ApiContent&extension=' . $theModel['extension'] . '&namespace='.$aClass['namespace'].'&name='.$aClass['name']}"
				{=$sVersion==$theModel['version'] ? 'selected' : ''}>{=org\jecat\framework\util\Version::from32Integer($theModel['version'])}</option>
			<if "($sVersion && $sVersion==
				$theModel['version']) || (!$sVersion && $apiIndex==0)">{*如果没有版本号就显示最新版本的内容,如果有版本号就显示对应版本号内容*}
			{? $aContentModel=$theModel} </if>
		</model:foreach>
	</select>

	<div class='info'>
		<label>扩展: {=$aContentModel['extension']}</label><br /> <label>命名空间:
			{=$aContentModel['namespace']}</label><br />
		<if "$aContentModel['abstract']==1"> <label>{$aContentModel['name']}是<b>抽象类</b></label>
		<br />
		</if>
	</div>

	<div class='comment'>
		<h2>简介</h2>
		{=org\opencomb\doccenter\formatter\Formatter::singleton()->format($aContentModel['comment'])}
	</div>

	<div class='methodList'>
		<h2>函数列表</h2>
		<foreach for='$aContentModel->child("methods")->childIterator()' item='aMethodModel'>
			<div class='method'>
				<if '{=$aMethodModel['abstract']}'>
					<span class='method_abstract'>abstract</span>
				</if>
				<if '{=$aMethodModel['static']}'>
					<span class='method_static'>static</span>
				</if>
				<span class='method_access'>{=$aMethodModel['access']}</span>
				<span class='method_name'>{=$aMethodModel['name']}</span>
				<if '{=$aMethodModel['returnType']}'>
					<span class='method_returnType'>{=$aMethodModel['returnType']}</span>
					<if '{=$aMethodModel['returnByRef']}'>
						<span class='method_returnByRef'>返回指针</span>
					</if>
				</if>
				<div class='method_comment'>
					{=$aMethodModel['comment']}
				</div>
			</div>
		</foreach>
	</div>

	<script type="text/javascript">
		SyntaxHighlighter.defaults['toolbar'] = false;
		SyntaxHighlighter.all();
		
		//版本跳转
		jQuery(function(){
			jQuery('select.version').change(function(){
				location.href=jQuery(this).val();
			});
		});
	</script>
</div>