<css src="doccenter:css/style.css" />
<lib name='jquery.ztree' />
<script>
jQuery(function() {
	//api tree
	var api_info = {=$arrApiTree};
	apiTree = jquery.fn.zTree.init(jquery("#api_index_tree"), {
		view: {
			expandSpeed: 0,
		},
	}, api_info);
	//适当展开
	expandNodes(apiTree,apiTree.getNodesByParam('level',0,null),true);
	expandNodes(apiTree,apiTree.getNodesByParam('level',1,null),true);
	
	//手册 tree
	var manual_info = {=$arrManualTree};
	wikiTree = jquery.fn.zTree.init(jquery("#manual_index_tree"), {
		view: {
			expandSpeed: 0,
			showIcon:false
		},
	}, manual_info);
	//wikitree退居幕后
	jquery("#manual_index_tree").hide();
	
	var numOfManualColumn  = Math.floor((jquery(window).width() - 300 - 300) / 300)  // 能容下几列手册文档  (屏宽-预留300px-api和速查文档300px / 每列手册300px)
	//至少保持有一列文档
	if(numOfManualColumn == 0){
		numOfManualColumn = 1;
	}
	//重置文档容器的宽度
	jQuery('#doc_index , #doc_index .index_scroll').width(300 + 300*numOfManualColumn+28+8);//+28px滚动轴偏差
	jQuery("#manual_index").width(300*numOfManualColumn+28);//+28px滚动轴偏差
	//放置手册文档"跑道"(列)
	for(var i = 0; i<numOfManualColumn; i++){
		jQuery("#manual_index_trees").append('<div class="subWikisColumn"></div>');
	}
	
	//展开tree的指定节点
	function expandNodes(tree,nodes,isExpand){
		jQuery.each(nodes,function(b,v){
			tree.expandNode(v,isExpand,false,false);
		});
	}
	
	var doc_index = jQuery('#doc_index');
	var doc_height = jQuery('#doc_index').outerHeight();
	// "文档"标题框体的高度
	var index_tilte_height = 30;

	resetIndexs();

	function replaceIndexs() {
		doc_index.css({
			'top' : -doc_height,
			'left' : getDocLeft()
		});
		function getDocLeft() {
			return jQuery('body').outerWidth() / 2 - doc_index.outerWidth() / 2;
		}
	}

	jQuery(window).on('resize',resetIndexs);
	
	//重置所有index的高度
	function resetIndexs (){
		resetIndexScroll();
		replaceIndexs();
		resetApiIndexHeight();
	}
	// 改变目录内容高度
	function resetIndexScroll() {
		jQuery('#doc_index .index_scroll , #manual_index , .left_indexs').css(
				{
					'height' : window.innerHeight - 46
				});
		jQuery('#manual_index_trees').css(
			{
				'height' : window.innerHeight - jquery('#manual_index_titlebar').height() - 46
			});
	}
	
	function resetApiIndexHeight(){
		var index_scroll = jQuery('#doc_index').find('.index_scroll');
		jQuery('#api_index').height( index_scroll.height() - jQuery('#quick_index').outerHeight(true) );
		jQuery('#api_index_trees').height( index_scroll.height() - jQuery('#quick_index').outerHeight(true) - jquery('#api_index_titlebar').outerHeight(true));
	}

	jQuery('#doc_index_title').toggle(function() {
		jQuery('#doc_index .index_scroll').slideDown(300);
		resetIndexs();
		if(jquery('.subWikiTree').length == 0){
			//手册文档放入跑道
			var subWikiTreeData = wikiTree.getNodesByParam('level',0,null);
			for(var ztreeData in subWikiTreeData){
				var subTreeContainer = jQuery('<div id="ztree_'+subWikiTreeData[ztreeData].name+'" class="ztree subWikiTree"></div>');
				//选取一个手册"跑道"
				//选最短的那条
				var shortestWikiColumn = [0,100000];
				var wikiColumns = jQuery('#manual_index .subWikisColumn');
				wikiColumns.each(function(b,v){
					if(jQuery(v).height() < shortestWikiColumn[1]){
						shortestWikiColumn = [b,jQuery(v).height()];
					}
				});
				jquery(wikiColumns[shortestWikiColumn[0]]).append(subTreeContainer);
				var wikiSubTree = jquery.fn.zTree.init(subTreeContainer, {
					view: {
						expandSpeed: 0,
						showIcon:false
					},
				}, subWikiTreeData[ztreeData]);
				expandNodes(wikiSubTree,wikiSubTree.getNodesByParam('level',0,null),true);
				expandNodes(wikiSubTree,wikiSubTree.getNodesByParam('level',1,null),true);
			}
		}
	}, function() {
		jQuery('#doc_index .index_scroll').slideUp(300);
	});
	
	//搜索树
	jquery('.keyWord').on('keyup',function(){
		var aZtreeContainer = jquery(this).closest('.index').find('.ztree');
		var that = this;
		if(aZtreeContainer.lenght == 0){
			return;
		}
		aZtreeContainer.each(function(b,v){
			v = jQuery(v);
			var aRunningZTree = jQuery.fn.zTree.getZTreeObj(v.attr('id'));
			var nodeLis = v.find('li');
			nodeLis.show();
			
			var sKeyWord = jquery.trim(jquery(that).val());
			if(sKeyWord.length < 1){
				aRunningZTree.expandAll(false);
				expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',0,null),true);
				expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',1,null),true);
				aRunningZTree.cancelSelectedNode();
				return;
			}
			
			aRunningZTree.cancelSelectedNode();
			aRunningZTree.checkAllNodes(false);
			
			var arrSelectNode = aRunningZTree.getNodesByParamFuzzy('name', sKeyWord);
			aRunningZTree.expandAll(false);
			expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',0,null),true);
			expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',1,null),true);
			for(var i = 0 ; i< arrSelectNode.length; i++){
				//区分大小写
				if(arrSelectNode[i].name.indexOf(sKeyWord) == -1){
					continue;
				}
				aRunningZTree.selectNode(arrSelectNode[i],true);
				aRunningZTree.expandNode(arrSelectNode[i],true,false,true);
			}
			//隐藏无关树
			nodeLis.each(function (){
				if(!jquery(this).find('a.curSelectedNode').size()){
					jquery(this).hide();
				}
			});
		});
		//焦点回归
		jquery(this).focus();
	});
});
</script>
<div id="doc_index">
	<div class="index_scroll">
		<div class="left_indexs">
			<div id="quick_index" class="index">
				<div id="quick_index_titlebar" class="titlebar">
					<div class="doc_title">速查</div>
					<label><input type="text" class="keyWord" /></label>
				</div>
				<div id="quick_index_trees">
					<div id="quick_index_tree" class="ztree">aaa</div>
				</div>
			</div>
			<div id="api_index" class="index">
				<div id="api_index_titlebar" class="titlebar">
					<div class="doc_title">API</div>
					<label><input type="text" class="keyWord" /></label>
				</div>
				<div id="api_index_trees">
					<div id="api_index_tree" class="ztree"></div>
				</div>
			</div>
		</div>
		<div id="manual_index" class="index">
			<div id="manual_index_titlebar" class="titlebar">
				<div class="doc_title">手 册</div>
				<label><input type="text" class="keyWord" /></label>
			</div>
			<div id="manual_index_trees">
				<div id="manual_index_tree" class="ztree"></div>
			</div>
		</div>
	</div>
	<div id="doc_index_title">文档</div>
	<div class="block"></div>
</div>
<div id="wrapper">
	<views />
</div>