<css src="doccenter:css/style.css" />
<lib name='jquery.ztree'/>
<script>
jQuery(function() {
	//api tree
	var api_info = {=$arrApiTree};
	apiTree = jquery.fn.zTree.init(jquery("#api_index_tree"), {
		view: {
			expandSpeed: 0,
			showIcon:false
		},
	}, api_info);
	//适当展开
	expandNodes(apiTree,apiTree.getNodesByParam('level',0,null),true);
	expandNodes(apiTree,apiTree.getNodesByParam('level',1,null),true);
	
	//手册 tree
	var manual_info = {=$arrManualTree};
	wikiTree = jquery.fn.zTree.init(jquery("#manual_index_tree"), {
		view: {
			expandSpeed: 0,
			showIcon:false
		},
	}, manual_info);
	//适当展开
	expandNodes(wikiTree,wikiTree.getNodesByParam('level',0,null),true);
	expandNodes(wikiTree,wikiTree.getNodesByParam('level',1,null),true);
	
	function expandNodes(tree,nodes,isExpand){
		jQuery.each(nodes,function(b,v){
			tree.expandNode(v,isExpand,false,false);
		});
	}
	
	var doc_index = jQuery('#doc_index');
	var doc_height = jQuery('#doc_index').outerHeight();
	// doc手册目录的高度
	var index_tilte_height = 30;
	// 目录标题的高度
	// var tur_height = ; //教程目录的高度
	// var quick_height = ; //速查手册目录的高度

	resetIndexScroll();
	replaceIndexs();

	function replaceIndexs() {
		doc_index.css({
			'top' : -doc_height,
			'left' : getDocLeft()
		});
		function getDocLeft() {
			return jQuery('body').outerWidth() / 2 - doc_index.outerWidth() / 2;
		}
	}

	jQuery(window).resize(function() {
		resetIndexScroll();
		replaceIndexs();
	});
	// 改变选单内容高度
	function resetIndexScroll() {
		jQuery('#doc_index .index_scroll').css(
				{
					'height' : window.innerHeight - 30
				});
	}

	jQuery('#doc_index_title').toggle(function() {
		jQuery('#doc_index .index_scroll').slideDown(300);
	}, function() {
		jQuery('#doc_index .index_scroll').slideUp(300);
	});
	
	//搜索树
	jquery('.keyWord').on('keyup',function(){
		var aZtreeContainer = jquery(this).parent('label').next();
		var aRunningZTree = jQuery.fn.zTree.getZTreeObj(aZtreeContainer.attr('id'));
		var nodeLis = aZtreeContainer.find('li');
		nodeLis.show();
		
		var sKeyWord = jquery.trim(jquery(this).val());
		if(sKeyWord.length < 1){
			aRunningZTree.expandAll(false);
			expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',0,null),true);
			expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',1,null),true);
			aRunningZTree.cancelSelectedNode();
			return;
		}
		
		aRunningZTree.cancelSelectedNode();
		aRunningZTree.checkAllNodes(false);
		
		var arrSelectNode = aRunningZTree.getNodesByParamFuzzy('name', sKeyWord);
		aRunningZTree.expandAll(false);
		expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',0,null),true);
		expandNodes(aRunningZTree,aRunningZTree.getNodesByParam('level',1,null),true);
		for(var i = 0 ; i< arrSelectNode.length; i++){
			//区分大小写
			if(arrSelectNode[i].name.indexOf(sKeyWord) == -1){
				continue;
			}
			aRunningZTree.selectNode(arrSelectNode[i],true);
			aRunningZTree.expandNode(arrSelectNode[i],true,false,true);
		}
		//隐藏无关树
		nodeLis.each(function (){
			if(!jquery(this).find('a.curSelectedNode').size()){
				jquery(this).hide();
			}
		});
		
		//焦点回归
		jquery(this).focus();
	});
});
</script>
<div id="doc_index">
	<div class='index_scroll'>
		<div class='indexs'>
			<div id='quick_index' class=''>
				<h3>速查</h3>
				<label>搜索<input type='text' class='keyWord'/></label>
				<div id='_index_tree' class='ztree'>
				
				</div>
			</div>
			<div id='api_index' class=''>
				<h3>API</h3>
				<label>搜索<input type='text' class='keyWord'/></label>
				<div id='api_index_tree' class='ztree'>
				
				</div>
			</div>
		</div>
		<div id='manual_index' class='indexs'>
			<h3>手册</h3>
			<label>搜索<input type='text' class='keyWord'/></label>
			<div id='manual_index_tree' class='ztree'>
			
			</div>
		</div>
	</div>
	<div id="doc_index_title">文档</div>
	<div class='block'></div>
</div>
<div id='wrapper'>
<views/>
</div>