<lib name='jquery.progressbar' />
<lib name='jquery.ztree' />
<style>
#message {
	position: absolute;
	right: 300px;
	top: 0px;
	border-style: solid;
	width: 500px;
	display: block;
}

#generator_log {
	max-height: 500px;
	word-break: break-all;
	overflow: auto;
	text-overflow: ellipsis;
}
</style>

<button id="createDoc">开始生成文档</button>
<br />
<label>搜索: <input type="text" id="keyWord" /></label>
<button id='cleanKeyWord'>清除</button>
<div id='classTree' class='ztree'></div>

<div id="message">
	<div id="progress">
		<br />
	</div>
	<p>Document Generator 日志:</p>
	<div id="generator_log"></div>
</div>

<script type="text/javascript">
function loadProgressBar(){
	jQuery('#progress').progressBar({
		barImage:'/extensions/doccenter/0.1/public/progressbg_red.gif',
		boxImage:'/extensions/doccenter/0.1/public/progressbar.gif',
	});
}

var totalCount = 1;
var finishCount=0;
var postlength = 5;

// 0 : init or finished
// 1 : sending
var postState = 0;

function createDoc(arrPath){
	if(postState != 0){
		return;
	}
	postState = 1;
	// clean progress bar
	finishCount = 0;
	loadProgressBar();
	// clean generator log
	document.getElementById('generator_log').innerHTML='';
	// post path list
	totalCount = arrPath.length ;
	var arrPost = new Array();
	for(var i=0;i<arrPath.length;++i){
		arrPost.push(arrPath[i]);
		if(arrPost.length >= postlength){
			postArrPath(arrPost);
			arrPost = new Array();
		}
	}
	if(arrPost.length > 0){
		postArrPath(arrPost);
	}
}

function postArrPath(arr){
	jQuery.post(
		'/?c=org.opencomb.doccenter.generator.DocumentGenerator&rspn=noframe',
		{path:arr},
		function(data){
			var arrError = data.split('\n');
			for(var i=1;i<arrError.length;++i){
				if(arrError[i].length>0){
					var sPre = 'path:';
					var sErrorPre = arrError[i].substr(0,sPre.length);
					if(sPre == sErrorPre){
						path = arrError[i].substr(sPre.length,arrError[i].length);
					}else{
						jQuery("#generator_log").append('<p>error path:'+path+arrError[i]+'</p>');
					}
				}
			}
			var count = parseInt(data.substr(0,1));
			finishCount += count ;
			jQuery('#progress').progressBar( finishCount*100 / totalCount);
			// has finished ?
			if(finishCount == totalCount){
				postState = 0;
			}
		}
	);
}
jQuery(function(){
	//树数据
	classList = {=$classJson};
	//初始化树
	jquery.fn.zTree.init(jquery("#classTree"), {
		view: {
			expandSpeed: 0
		},
		check:{
			enable:true,
			chkboxType:{ "Y": "ps", "N": "ps" }
		},
	}, classList);
	
	var aRunningZTree = jquery.fn.zTree.getZTreeObj("classTree");
	
	//搜索树
	jquery('#keyWord').on('keyup',function(){
		var nodeLis = jquery('#classTree li');
		nodeLis.show();
		
		var sKeyWord = jquery.trim(jquery(this).val());
		if(sKeyWord.length < 2){
			aRunningZTree.expandAll(false);
			aRunningZTree.cancelSelectedNode();
			return;
		}
		
		aRunningZTree.cancelSelectedNode();
		aRunningZTree.checkAllNodes(false);
		
		var arrSelectNode = aRunningZTree.getNodesByParamFuzzy('name', sKeyWord);
		aRunningZTree.expandAll(false);
		for(var i = 0 ; i< arrSelectNode.length; i++){
			//区分大小写
			if(arrSelectNode[i].name.indexOf(sKeyWord) == -1){
				continue;
			}
			aRunningZTree.selectNode(arrSelectNode[i],true);
			aRunningZTree.expandNode(arrSelectNode[i],true,false,true);
		}
		//隐藏无关树
		nodeLis.each(function (){
			if(!jquery(this).find('a.curSelectedNode').size()){
				jquery(this).hide();
			}
		});
		
		//焦点回归
		jquery(this).focus();
	});
	//点击清除搜索框内容
	jquery('#cleanKeyWord').click(function(){
		jquery('#keyWord').val('');
	});
	// 点击开始生成文档按钮
	jquery('#createDoc').click(function(){
		var arrCheckedNodes = aRunningZTree.getCheckedNodes(true);
		var arrPaths = [];
		//整理需要清理的路径
		for(var i = 0; i < arrCheckedNodes.length ; i++){
			if(typeof(arrCheckedNodes[i].children) == 'undefined'){
				arrPaths.push(arrCheckedNodes[i].filepath);
			}
		}
		//发送到后台进行处理
		createDoc(arrPaths);
	});
});
</script>
