<lib name='jquery.treeview' version />
<lib name='jquery.cookie' />
<lib name='jquery.progressbar' />

<style>
.filenode{
	display:inline;
}
.foldernode{
	display:inline;
}
#message{
	position:absolute;
	right:300px;
	top:0px;
	border-style: solid;
	width:500px;
	display:block;
}
#generator_log{
	max-height: 500px;
	word-break:break-all;
	overflow:auto;
	text-overflow:ellipsis;
}
</style>

<subtemplate:define name='namespacetree'>
<ul>
	<foreach for='$tree' key='name' item='branch'>
		<if 'empty($name)'>
			<continue />
		</if>
		<li>
			<if 'isset($branch["fileinfo"]) && is_object($branch["fileinfo"])'>
				<input type='checkbox' path='{=$branch['path']}' />
				{=$name}
			<else/>
				{=$name}
				<a href='#' onclick='setChecked(this,"a")'>全选</a>
				<a href='#' onclick='setChecked(this,"n")'>全取消</a>
				<a href='#' onclick='setChecked(this,"o")'>反选</a>
				<subtemplate:call name='namespacetree' var.tree='$branch' />
			</if>
		</li>
	</foreach>
</ul>
</subtemplate:define>

<button onclick='createDoc();'>开始生成文档</button>
<ul id="package_tree">
	<subtemplate:call name='namespacetree' var.tree='$arrtree' />
	<li>debug
		<ul>
			<foreach for='{=$packageIterator}' item='package'>
				<li>{=$package->ns()}</li>
			</foreach>
		</ul>
	</li>
</ul>

<div id="message">
	<div id="progress">
	progress bar
	</div>
	<p>Document Generator 日志:</p>
	<div id="generator_log">
	</div>
</div>

<script type="text/javascript">
function loadTreeview(){
	jQuery('#package_tree').treeview({
		collapsed:true ,
		animated: "fast",
		persist: 'cookie',
		cookieId: 'documentUpdater-treeview',
	});
}
function loadProgressBar(){
	jQuery('#progress').progressBar({
		barImage:'/extensions/doccenter/0.1/public/progressbg_red.gif',
	});
}
jQuery(loadTreeview);
jQuery(loadProgressBar);
//@param t : a , all ; n , none ; o , opposite
function setChecked(o,t){
	var closest_li = jQuery(o).closest('li');
	var list_check = closest_li.find('input[type=checkbox]');
	switch(t){
	case 'a':
		list_check.attr('checked',true);
		break;
	case 'n':
		list_check.attr('checked',false);
		break;
	case 'o':
		list_check.attr('checked',
			function(i,t){
				return !t;
			}
		);
		break;
	}
}
var totalCount = 1;
var finishCount=0;
var postlength = 5;

function createDoc(){
	finishCount = 0;
	document.getElementById('generator_log').innerHTML='';
	var arrPath = new Array();
	jQuery('input[type=checkbox]').each(
		function(){
			if(jQuery(this).attr('checked') == 'checked'){
				var path = jQuery(this).attr('path');
				arrPath.push(path);
			}
		}
	);
	totalCount = arrPath.length;
	var arrPost = new Array();
	for(var i=0;i<arrPath.length;++i){
		arrPost.push(arrPath[i]);
		if(arrPost.length >= postlength){
			postArrPath(arrPost);
			arrPost = new Array();
		}
	}
	if(arrPost.length > 0){
		postArrPath(arrPost);
	}
}

function postArrPath(arr){
	jQuery.post(
		'/?c=org.opencomb.doccenter.DocumentGenerator&noframe=1',
		{path:arr},
		function(data){
			jQuery("#generator_log").append('<p>'+data+'</p>');
			var div=document.getElementById('generator_log');
			if(div.scrollHeight>div.offsetHeight){
				div.scrollTop=div.scrollHeight-div.offsetHeight;
			}
			finishCount += data.length;
			jQuery('#progress').progressBar( finishCount*100 / totalCount);
		},
		'json'
	);
}
</script>
