<lib name='syntaxhighlighter:php'/>
<lib name='jquery.ui'/>
<script>
	jquery(function() {
		jquery( ".example" ).accordion({
			collapsible: true,
			autoHeight: false
		});
	});
</script>
<div class='page'>
	<msgqueue for="$theController->messageQueue()" />
	<h1><span class='title'></span>{=$sTitle}</h1>
	<div>
	{? $sWholePath}
	<foreach for='explode("/",$theParams->get("title"))' item='sPath' idx='nIdx'><if '$nIdx==0'>{? continue}</if>{? $sWholePath=$sWholePath.'/'.$sPath}/<a href='?c=org.opencomb.doccenter.WikiContent&title={=$sWholePath}'>{=$sPath}</a></foreach>
	</div>
	<div class='normalfloat methodlist'>
	<foreach for='$theModel->childIterator()' item='aContentModel'>
	<div class='method-detail-item'>
		<div class='extension'>
			<label>扩展: </label>{=$aContentModel['extension']}
			<label>版本: </label>{=org\jecat\framework\util\Version::from32Integer($aContentModel['version'])}
			<label>类: </label>{=$aContentModel['sourceClass']}
			<label>行: </label>{=$aContentModel['sourceLine']}
		</div>
		
		<div class='content'>
			{=org\opencomb\doccenter\formatter\Formatter::singleton()->format($aContentModel['text'])}
		</div>
		
		<div class='exampleList'>
			<foreach for="$aContentModel->child('examples')->childIterator()" item='aExample' idx='nExampleIndex'>
				<div class='example'>
					<h3><a href="#">例子{=$nExampleIndex+1}: {=$aExample['title']}</a></h3>
					<div>
						<pre class="brush: php;">
		{=htmlentities($aExample['code'],ENT_QUOTES, "UTF-8")}
						</pre>
					</div>
				</div>
			</foreach>
		</div>
	</div>
	<br/>
	</foreach>
	</div>
	<script type="text/javascript">
		SyntaxHighlighter.defaults['toolbar'] = false;
		SyntaxHighlighter.all();
		
		//版本跳转
		jQuery(function(){
			jQuery('select.version').change(function(){
				location.href=jQuery(this).val();
			});
		});
	</script>
</div>