/*CSS reset*/
body,div,dl,dt,dd,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}
/*ol,ul,li { list-style:none;}*/
caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
}

h3 {
	font-weight: bold;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic; /*Only fot IE7*/
}

b,strong { /*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
	font-weight: bold;
}

*:focus { /* 去掉获得焦点时出现的虚线框 */
	outline: none;
}

textarea { /* chrome 不允许 textarea 可更改大小  */
	resize: none;
}

body {
	font: 12px Arial, Helvetica, sans-serif;
	/*padding: 10px;*/
	font-size: 14px;
	/*background: #d8d2ce url(../styles/bglines.png) repeat 0;*/
}

a {
	text-decoration: none;
}

a:link {
	color: #4B8DB5;
}

a:visited {
	color: #5A6F7F;
}

a:hover {
	color: #D05D2A;
}

p {
	display: block;
	text-indent: 2em;
	margin: 10px 0 15px 0;
	line-height: 20px;
}

pre {
	white-space: normal;
}

.wrapper {
	
}

#doc_index {-webkit-gradient (linear, 0% 0, 0% 100%, from(#FFFFF6),
	to(#FFFDE3));
	/*padding:10px;*/
	width: 900px;
	position: fixed;
	z-index: 10000;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:0 0 5px rgba(0,0,0,0.4);
	font-family:"微软雅黑",Arial, Helvetica, sans-serif
}
/*#doc_index a {
	font-size:12px;
	padding: 1px 1px 1px 3px;
	display: block;
	margin-right: 10px;
}*/
#doc_index a:hover {
	text-decoration:none;
}

#doc_index .index_scroll {
	width: 900px;
	overflow: hidden;
	display: none;
	background:rgba(102,102,102,0.9);
	border-radius:0 0 5px 5px;
	padding:8px;
}

#doc_index_title {
	width: 100px;
	height: 30px;
	position: absolute;
	right: 100px;
	bottom: -29px;
	color: white;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	background:rgba(102,102,102,0.9);
	box-shadow:0 0 5px rgba(0,0,0,0.2);
	border-radius:0 0 5px 5px;
	cursor: pointer;
	-webkit-transition:all 0.15s ease-in;
	-moz-transition:all 0.15s ease-in;
	/*	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;*/
}
#doc_index_title:hover{
	background:rgba(116,197,68,1);
}

.exampleTitle{
	color:#125Acf;
}
.exampleName{
	color:green;
}

#quick_index {
	width: 300px;
	background: #fff;
	border-radius:5px;
	box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
	margin-bottom:8px;
}

#api_index {
	width: 300px;
	background: #fff;
	border-radius:5px;
	box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
}
#api_index_trees{
	overflow-y:scroll;
	overflow-x:auto;
}
.left_indexs {
	float: left;
	margin-right:8px;
}
.right_indexs {
	overflow-y:scroll;
	overflow-x:auto;
	float: left;
}

#manual_index ,#example_index{
	background: #fff;
	border-radius:5px;
	box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;
}
#manual_index_trees{
	
}
#example_index{
	margin-top:8px;
}

.subWikisColumn ,.subExamplesColumn {
	width: 304px;
	float: left;
}

.subWikiTree,.subExampleTree {
	width: 300px;
}

.block {
	clear: both
}

.bodyText {
	padding: 10px 20px;
	background: #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.bodyText h1 {
	font-weight: bold;
	padding: 0px;
	margin: 5px auto;
}

blockquote {
	display: block;
	height: auto;
	margin: 10px;
	padding: 10px 20px;
	border: 1px #aaa solid;
	background: #EEE;
	line-height: 20px;
}

.prepare {
	min-height: 60px;
	background: #eee url(../img/prepare.png) no-repeat 10px 10px;
	padding-left: 80px;
}

.warning {
	min-height: 60px;
	background: #eee url(../img/warning.png) no-repeat 10px 10px;
	padding-left: 80px;
}

table {
	width: 100%;
	color: #666;
	font-size: 12px;
	border: 1px solid #e4e4e4;
	margin: 10px 0;
} /*background:url(../images/tablebg.gif) repeat 0 0;*/
th {
	font-weight: bold;
	color: #666;
	height: 30px;
	padding: 0 8px;
	background: url(../img/thbg.jpg) repeat-x 0 0;
}

tr {
	
}

tr:hover {
	background: #F9F7EA
}

td {
	height: 30px;
	vertical-align: middle;
	padding: 0 8px;
}

/*
 * 字 排版样式
 */
.tRed {
	color: red;
}

.tYellow {
	color: yellow;
}

.tGray {
	color: gray;
}

.tGreen {
	color: green;
}

.tBlue {
	color: blue;
}

/*wiki 文字块区分*/
.method-detail-item {
	line-height:200%;
	border: 1px solid #d5d5d5;
	padding: 10px;
	margin-bottom:8px;
}

.method-list-item,.method-list li {
	width: 290px;
	height: 21px;
	line-height: 21px;
	padding-left: 10px;
	float: left;
}

.normalfloat {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

.methodlist {
	font-size: 13px;
	line-height: 20px;
}

.extension label {
	font-weight: bold;
}

body {
	background: #D8D2CE;
}

#wrapper {
	
}

.main {
	background: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 300px 10px 10px;
	padding:10px;
}
.sourceViewer {
	background: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px 10px 10px 10px;
	padding:10px;
}

.sidebar {
	float: right;
	width: 255px;
	background: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 10px 0 10px;
	padding: 10px 10px 10px 10px;
}

/*2012-2-8 Cross*/
button{padding:0; margin:0; border-width:0px;}
#manual_index li.level0,#example_index li.level0{border-left:2px solid #666;padding-left:3px;}
#manual_index li:hover.level0,#example_index li:hover.level0{ border-left:2px solid #74c544}
#manual_index a.level0 ,#example_index a.level0 {margin-bottom:8px;}
#manual_index a.level0 span,#example_index a.level0 span{ font-size:18px; color:#74c544; font-weight:bold;}
#manual_index a.level0 span:hover,#example_index a.level0 span:hover{ text-decoration:underline}
#manual_index a.level1 span,#example_index a.level1 span{ font-size:13px; color:#333; padding:0 1px;}
#manual_index a.level1 span:hover,#example_index a.level1 span:hover{ background:#74c544; color:#fff; text-decoration:none}
#manual_index a.level2 span,#example_index a.level2 span{ font-size:12px; color:#666;}
#manual_index a.level2 span:hover,#example_index a.level2 span:hover{ color:#74c544; text-decoration:underline}
#manual_index a.level3 span,#example_index a.level3 span{ font-size:12px; color:#666;}
#manual_index a.level3 span:hover,#example_index a.level3 span:hover{ color:#74c544; text-decoration:underline}

.titlebar{ background:url(../img/titlebg.jpg) repeat-x 0 0; height:36px; border-radius:5px 5px 0 0;}
.doc_title{ font-size:18px; font-weight:bold; color:#484848; text-shadow:1px 1px 0 rgba(255,255,255,1); float:left;margin:5px 0 0 10px; background:url(../img/titleborder.gif) repeat-y right 0; height:25px; padding-right:36px;}
#manual_index .doc_title{padding:0 128px;}
#example_index .doc_title{padding:0 128px;}
.titlebar label{ float:right}
.keyWord{ background:url(../img/keyWord.png) no-repeat 0 0; width:148px; height:20px; border:0px solid #ccc; padding:2px 25px 2px 2px; margin:5px 5px 0 0; color:#484848;}



h1,h2,h3,h4,h5,h6{padding:0;margin:0;}
.main h1 , .sourceViewer h1{border-left:3px solid #0090ff;padding:0 0 0 8px; margin:0; font-size: 2em; margin-bottom:8px;}
.wholepath{ margin-bottom:8px;}
.extensioninfo{margin-bottom:4px; font-size:12px;}
.extensioninfo a{color:#0090ff;}
.extensioninfo a:hover{ text-decoration:underline}
.docversion{ font-weight:bold; color:#F90;font-size:13px;}
/* */

.noticeIcon {
	display: inline-block;
	width:16px;
	height:16px;
	line-height: 16px;
	background: #eee url(../img/notice_small.png) no-repeat;
}
.warningIcon {
	display: inline-block;
	width:16px;
	height:16px;
	line-height: 16px;
	background: #eee url(../img/warning_small.png) no-repeat;
}
.noticeBlock {
	display: block;
	height: auto;
	margin:0 0 10px 0;
	padding: 10px 20px;
	border: 1px #aaa solid;
	background: #EEE;
	line-height: 20px;
	min-height: 60px;
	background: #eee url(../img/notice.png) no-repeat 10px 10px;
	padding-left: 80px;
}
.warningBlock {
	display: block;
	height: auto;
	margin: 10px;
	padding: 10px 20px;
	border: 1px #aaa solid;
	background: #EEE;
	line-height: 20px;
	min-height: 60px;
	background: #eee url(../img/warning.png) no-repeat 10px 10px;
	padding-left: 80px;
}
.questionIcon{
	
}

.extensionWarning{
	background:#fff1f1;
	border-left:6px solid #f60;
	padding:5px 5px 5px 10px;
	font-size:16px;
	color:#f40;
	margin-bottom:8px;
}
.methodlist {color:#333;}
.methodlist th{ white-space:nowrap} /*th里面的文字不换行*/
.methodlist h2{margin:14px 0 8px;}
.methodlist h2 a{ font-weight:bold; font-size:16px; color:#0090ff}
.methodlist h2 a:hover{ color:#000; text-decoration:underline}

#wikiContentIndex div{
overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;height:20px;
}

